.row {
  display: flex;
  justify-content: space-around;


  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.c-tarifs {
  width: 40%;


  @media (max-width: 750px) {
    width: 100%;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0;

    border-top: solid 1px white;
    color: white;

    @media (max-width: 750px) {
      padding: 0;
    }

    h4 {
      font-weight: 400;
      letter-spacing: 0.02rem;
    }
  }
}